.form-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  
  .tax-form {
    width: 100%;
  }
  
  .mat-card-header {
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
  }
  
  .actions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
